
.banner{
    height: auto;
    width: 100%;
    text-align: left;
    padding: 10px 0 10px 0;
    color: white;
    overflow: hidden;
    background: #C04848; 
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat; 
}

.banner_title {
    font-size: 50px;
    line-height: .9;
}
.banner_title2 {
    font-size: 22px;
}
