.banner{
   height: 400px;
    width: 100%;
    text-align: left;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(rgba(15, 13, 15, 0.5),rgb(232,46,25,0.6)), url("https://www.renderhub.com/renderhub/black-panther-movie-poster-3d-wallpaper/black-panther-movie-poster-3d-wallpaper_1920x1080.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner_title{
    font-size: 50px;
    line-height: .9;
}
.banner_title2{
    font-size: 22px;
}